<a href="https://colab.research.google.com/github/josh-hull/misc_projects/blob/main/Spark_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install PySpark Dependencies

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!rm spark-3.2.3-bin-hadoop3.2.tgz
!wget --no-cookies --no-check-certificate https://dlcdn.apache.org/spark/spark-3.2.3/spark-3.2.3-bin-hadoop3.2.tgz
!tar zxvf spark-3.2.3-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark==3.2.3

# Load Data

In [61]:
schema = StructType([
    StructField("uid", IntegerType()),
    StructField("age", IntegerType()),
    StructField("age_group", StringType()),
    StructField("profession", StringType()),
    StructField("marital_status", StringType()),
    StructField("education", StringType()),
    StructField("default", StringType()),
    StructField("housing", StringType()),
    StructField("loan", StringType()),
    StructField("gender", StringType()),
    StructField("balance", StringType()),
    StructField("membership", StringType()),
    StructField("charges", IntegerType()),
    StructField("customer_contacts", IntegerType()),
    StructField("attrition", IntegerType())
    ])

In [ ]:
!wget https://raw.githubusercontent.com/zaratsian/Datasets/master/banking_attrition.csv

# Import Python / Spark Libraries

In [3]:
import os
os.environ["JAVA_HOME"]  = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.3-bin-hadoop3.2"

import datetime, time
import re, random, sys

# Note - Not all of these will be used, but I've added them for your reference as a "getting started"
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, ArrayType, IntegerType, StringType, FloatType, LongType, DateType
from pyspark.sql.functions import struct, array, lit, monotonically_increasing_id, col, expr, when, concat, udf, split, size, lag, count, isnull
from pyspark.sql import Window
from pyspark.ml.linalg import Vectors
from pyspark.ml.regression import GBTRegressor, LinearRegression, GeneralizedLinearRegression, RandomForestRegressor
from pyspark.ml.classification import GBTClassifier, RandomForestClassifier
from pyspark.ml.feature import VectorIndexer, VectorAssembler, StringIndexer, IndexToString
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml import Pipeline, PipelineModel
from pyspark.ml.evaluation import MulticlassClassificationEvaluator, RegressionEvaluator

# Create Spark Session

In [43]:
spark = SparkSession.builder.appName("Spark ML Assignment").master("local[*]").getOrCreate()

# Load CSV Data into Spark Dataframe

In [62]:
attrition_data = spark.read.load("/content/banking_attrition.csv", format="csv", header=True, schema=schema)

# Data Exploration
Perform at least one data exploration of your choice (This could be a basic show(), an aggregation/groupby, correlation, summarizer, etc.)

In [63]:
attrition_data.show()

+-------+---+---------+--------------+--------------+-----------+-------+-------+----+------+-------------+----------+-------+-----------------+---------+
|    uid|age|age_group|    profession|marital_status|  education|default|housing|loan|gender|      balance|membership|charges|customer_contacts|attrition|
+-------+---+---------+--------------+--------------+-----------+-------+-------+----+------+-------------+----------+-------+-----------------+---------+
|1000001| 69|      60s|       retired|       married|high school|     no|     no|  no|female| $50k - $100k|      gold|     74|                5|        0|
|1000002| 46|      40s|    management|       married|high school|    yes|     no|  no|  male|  $10k - $50k|    silver|    149|                1|        0|
|1000003| 45|      40s|    management|       married|high school|     no|     no|  no|female|$100k - $250k|  platinum|     58|                5|        1|
|1000004| 54|      50s|administration|      divorced|   graduate|     no|    yes|  no|female|  $10k - $50k|    silver|    317|                4|        1|
|1000005| 36|      30s|    management|        single|high school|     no|    yes|  no|  male| $50k - $100k|      gold|    139|                8|        0|
|1000006| 25|      20s|       student|       married|   graduate|     no|     no|  no|  male|   Over $250k|  platinum|     21|                8|        0|
|1000007| 54|      50s|    management|        single|high school|     no|    yes| yes|female|   Over $250k|  platinum|    128|                0|        0|
|1000008| 49|      40s| manufacturing|        single|   graduate|     no|    yes| yes|  male| $50k - $100k|      gold|     40|                0|        0|
|1000009| 30|      30s|  entrepreneur|       married|   graduate|     no|     no| yes|  male|$100k - $250k|  platinum|    126|                0|        0|
|1000010| 43|      40s|    technician|       married|high school|     no|     no|  no|female|$100k - $250k|  platinum|    102|                1|        0|
|1000011| 32|      30s|    technician|        single|   graduate|     no|     no|  no|  male|  $10k - $50k|    silver|    142|                1|        0|
|1000012| 33|      30s|administration|        single|high school|     no|    yes|  no|female|   Over $250k|  platinum|    140|                0|        0|
|1000013| 53|      50s|    management|      divorced|high school|     no|    yes|  no|  male| $50k - $100k|      gold|    258|                4|        1|
|1000014| 24|      20s|    unemployed|      divorced|high school|     no|    yes|  no|female|  $10k - $50k|    silver|    245|                3|        1|
|1000015| 46|      40s| manufacturing|       married|   graduate|     no|    yes|  no|  male|   Over $250k|  platinum|     87|                0|        0|
|1000016| 32|      30s|    technician|        single|high school|     no|     no|  no|  male|$100k - $250k|  platinum|    130|                2|        0|
|1000017| 53|      50s| manufacturing|      divorced|    college|     no|    yes|  no|female| $50k - $100k|      gold|    262|                4|        1|
|1000018| 27|      20s|    technician|       married|   graduate|     no|    yes|  no|  male|   Over $250k|  platinum|     33|                1|        0|
|1000019| 36|      30s| manufacturing|        single|    college|     no|    yes|  no|  male|  $10k - $50k|    silver|     58|                0|        0|
|1000020| 47|      40s|administration|       married|   graduate|     no|     no|  no|  male|   Over $250k|  platinum|     96|                1|        0|
+-------+---+---------+--------------+--------------+-----------+-------+-------+----+------+-------------+----------+-------+-----------------+---------+
only showing top 20 rows

In [64]:
attrition_data.printSchema()

root
 |-- uid: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- age_group: string (nullable = true)
 |-- profession: string (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- balance: string (nullable = true)
 |-- membership: string (nullable = true)
 |-- charges: integer (nullable = true)
 |-- customer_contacts: integer (nullable = true)
 |-- attrition: integer (nullable = true)

In [66]:
#columns_to_keep =   ["uid", "age", "age_group", "profession", "marital_status",
                     "education", "default", "housing", "loan", "gender", "balance", 
                     "membership", "charges", "customer_contacts", "attrition" 
                    ]
#attrition_data = attrition_data.select(columns_to_keep)

#attrition_data = attrition_data.filter(attrition_data != 'NA')

In [67]:
#numeric_columns     = [c[0] for c in attrition_data.dtypes if c[1] not in ['string','timestamp']]
#categorical_columns = [c[0] for c in attrition_data.dtypes if c[1] in ['string']]
#datetime_columns    = [c[0] for c in attrition_data.dtypes if c[1] in ['timestamp']]

In [ ]:
#attrition_data.summary().show()

# Split the Spark Dataframe into Train and Test
You could use a randomsplit here, a Cross Validator, or another approach of your choice.

In [68]:
train_ratio = 0.7
test_ratio = 1 - train_ratio

train_attrition, test_attrition = attrition_data.randomSplit([train_ratio, test_ratio], seed = 1214)

# Feature Engineering
During this step, I'd like to see you convert at least one STRING variable (such as gender, membership, education or another variable of your choice) into a numeric representation so that you can use it as one of the model inputs. You can convert the string to a numeric by using one-hot encoding, a stringindexer, etc

You will also want to define a ML model object. An example of this would be a random forest, gradient boosting, or some other approach listed here.

In [69]:
train_attrition.printSchema()

root
 |-- uid: integer (nullable = true)
 |-- age: integer (nullable = true)
 |-- age_group: string (nullable = true)
 |-- profession: string (nullable = true)
 |-- marital_status: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- balance: string (nullable = true)
 |-- membership: string (nullable = true)
 |-- charges: integer (nullable = true)
 |-- customer_contacts: integer (nullable = true)
 |-- attrition: integer (nullable = true)

In [70]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml import Pipeline

In [90]:
# Index and encode categorical features
categorical_columns = ["age_group", "profession", "marital_status", "education", "default", "housing", "loan", "gender", "balance", "membership"]
indexers = [StringIndexer(inputCol=column, outputCol=column+"_index", handleInvalid="skip") for column in categorical_columns]
encoders = [OneHotEncoder(inputCol=column+"_index", outputCol=column+"_encoded") for column in categorical_columns]

In [91]:
# Assemble all the features into a single features column
assembler = VectorAssembler(inputCols=[column+"_encoded" for column in categorical_columns] + ["charges", "customer_contacts"], outputCol="features")

In [92]:
# Create a Random Forest classifier object
rf = RandomForestClassifier(labelCol="attrition", featuresCol="features", numTrees=100)

In [93]:
# Create a pipeline with all the indexers, encoders, assembler, and the classifier
pipeline = Pipeline(stages=indexers + encoders + [assembler, rf])

# Fit/Train ML Model

In [94]:
model = pipeline.fit(train_attrition)

# Make Predictions
Use your model to make predications against the Test (holdout) Dataframe

In [95]:
predictions = model.transform(test_attrition)
predictions.show()

+-------+---+---------+--------------+--------------+-----------+-------+-------+----+------+-------------+----------+-------+-----------------+---------+---------------+----------------+--------------------+---------------+-------------+-------------+----------+------------+-------------+----------------+-----------------+------------------+----------------------+-----------------+---------------+---------------+-------------+--------------+---------------+------------------+--------------------+--------------------+--------------------+----------+
|    uid|age|age_group|    profession|marital_status|  education|default|housing|loan|gender|      balance|membership|charges|customer_contacts|attrition|age_group_index|profession_index|marital_status_index|education_index|default_index|housing_index|loan_index|gender_index|balance_index|membership_index|age_group_encoded|profession_encoded|marital_status_encoded|education_encoded|default_encoded|housing_encoded| loan_encoded|gender_encoded|balance_encoded|membership_encoded|            features|       rawPrediction|         probability|prediction|
+-------+---+---------+--------------+--------------+-----------+-------+-------+----+------+-------------+----------+-------+-----------------+---------+---------------+----------------+--------------------+---------------+-------------+-------------+----------+------------+-------------+----------------+-----------------+------------------+----------------------+-----------------+---------------+---------------+-------------+--------------+---------------+------------------+--------------------+--------------------+--------------------+----------+
|1000001| 69|      60s|       retired|       married|high school|     no|     no|  no|female| $50k - $100k|      gold|     74|                5|        0|            4.0|             6.0|                 0.0|            1.0|          0.0|          1.0|       0.0|         0.0|          3.0|             2.0|    (7,[4],[1.0])|    (11,[6],[1.0])|         (2,[0],[1.0])|    (3,[1],[1.0])|  (1,[0],[1.0])|      (1,[],[])|(1,[0],[1.0])| (1,[0],[1.0])|  (4,[3],[1.0])|         (2,[],[])|(35,[4,13,18,21,2...|[93.9004464981717...|[0.93900446498171...|       0.0|
|1000003| 45|      40s|    management|       married|high school|     no|     no|  no|female|$100k - $250k|  platinum|     58|                5|        1|            2.0|             0.0|                 0.0|            1.0|          0.0|          1.0|       0.0|         0.0|          2.0|             0.0|    (7,[2],[1.0])|    (11,[0],[1.0])|         (2,[0],[1.0])|    (3,[1],[1.0])|  (1,[0],[1.0])|      (1,[],[])|(1,[0],[1.0])| (1,[0],[1.0])|  (4,[2],[1.0])|     (2,[0],[1.0])|(35,[2,7,18,21,23...|[92.6987846499010...|[0.92698784649901...|       0.0|
|1000004| 54|      50s|administration|      divorced|   graduate|     no|    yes|  no|female|  $10k - $50k|    silver|    317|                4|        1|            1.0|             3.0|                 2.0|            0.0|          0.0|          0.0|       0.0|         0.0|          1.0|             1.0|    (7,[1],[1.0])|    (11,[3],[1.0])|             (2,[],[])|    (3,[0],[1.0])|  (1,[0],[1.0])|  (1,[0],[1.0])|(1,[0],[1.0])| (1,[0],[1.0])|  (4,[1],[1.0])|     (2,[1],[1.0])|(35,[1,10,20,23,2...|[5.06095571610833...|[0.05060955716108...|       1.0|
|1000009| 30|      30s|  entrepreneur|       married|   graduate|     no|     no| yes|  male|$100k - $250k|  platinum|    126|                0|        0|            0.0|             8.0|                 0.0|            0.0|          0.0|          1.0|       1.0|         1.0|          2.0|             0.0|    (7,[0],[1.0])|    (11,[8],[1.0])|         (2,[0],[1.0])|    (3,[0],[1.0])|  (1,[0],[1.0])|      (1,[],[])|    (1,[],[])|     (1,[],[])|  (4,[2],[1.0])|     (2,[0],[1.0])|(35,[0,15,18,20,2...|[93.1731655765062...|[0.93173165576506...|       0.0|
|1000012| 33|      30s|administration|        single|high school|     no|    yes|  no|female|   Over $250k|  platinum|    140|                0|        0|            0.0|             3.0|                 1.0|            1.0|          0.0|          0.0|       0.0|         0.0|          0.0|             0.0|    (7,[0],[1.0])|    (11,[3],[1.0])|         (2,[1],[1.0])|    (3,[1],[1.0])|  (1,[0],[1.0])|  (1,[0],[1.0])|(1,[0],[1.0])| (1,[0],[1.0])|  (4,[0],[1.0])|     (2,[0],[1.0])|(35,[0,10,19,21,2...|[92.9270620174455...|[0.92927062017445...|       0.0|
|1000017| 53|      50s| manufacturing|      divorced|    college|     no|    yes|  no|female| $50k - $100k|      gold|    262|                4|        1|            1.0|             1.0|                 2.0|            2.0|          0.0|          0.0|       0.0|         0.0|          3.0|             2.0|    (7,[1],[1.0])|    (11,[1],[1.0])|             (2,[],[])|    (3,[2],[1.0])|  (1,[0],[1.0])|  (1,[0],[1.0])|(1,[0],[1.0])| (1,[0],[1.0])|  (4,[3],[1.0])|         (2,[],[])|(35,[1,8,22,23,24...|[6.26184071693861...|[0.06261840716938...|       1.0|
|1000021| 26|      20s|    unemployed|      divorced|high school|     no|    yes|  no|female|   Under $10k|    silver|    324|                3|        1|            3.0|             4.0|                 2.0|            1.0|          0.0|          0.0|       0.0|         0.0|          4.0|             1.0|    (7,[3],[1.0])|    (11,[4],[1.0])|             (2,[],[])|    (3,[1],[1.0])|  (1,[0],[1.0])|  (1,[0],[1.0])|(1,[0],[1.0])| (1,[0],[1.0])|      (4,[],[])|     (2,[1],[1.0])|(35,[3,11,21,23,2...|[4.03672026503452...|[0.04036720265034...|       1.0|
|1000027| 55|      50s|    technician|      divorced|   graduate|     no|    yes|  no|  male| $50k - $100k|      gold|    201|                4|        1|            1.0|             2.0|                 2.0|            0.0|          0.0|          0.0|       0.0|         1.0|          3.0|             2.0|    (7,[1],[1.0])|    (11,[2],[1.0])|             (2,[],[])|    (3,[0],[1.0])|  (1,[0],[1.0])|  (1,[0],[1.0])|(1,[0],[1.0])|     (1,[],[])|  (4,[3],[1.0])|         (2,[],[])|(35,[1,9,20,23,24...|[9.88852437595798...|[0.09888524375957...|       1.0|
|1000028| 46|      40s| self_employed|        single|high school|     no|    yes|  no|female|   Over $250k|  platinum|     20|                0|        0|            2.0|             7.0|                 1.0|            1.0|          0.0|          0.0|       0.0|         0.0|          0.0|             0.0|    (7,[2],[1.0])|    (11,[7],[1.0])|         (2,[1],[1.0])|    (3,[1],[1.0])|  (1,[0],[1.0])|  (1,[0],[1.0])|(1,[0],[1.0])| (1,[0],[1.0])|  (4,[0],[1.0])|     (2,[0],[1.0])|(35,[2,14,19,21,2...|[92.7118669525098...|[0.92711866952509...|       0.0|
|1000029| 51|      50s|    consulting|       married|   graduate|     no|     no|  no|female|   Over $250k|  platinum|    164|                1|        0|            1.0|             5.0|                 0.0|            0.0|          0.0|          1.0|       0.0|         0.0|          0.0|             0.0|    (7,[1],[1.0])|    (11,[5],[1.0])|         (2,[0],[1.0])|    (3,[0],[1.0])|  (1,[0],[1.0])|      (1,[],[])|(1,[0],[1.0])| (1,[0],[1.0])|  (4,[0],[1.0])|     (2,[0],[1.0])|(35,[1,12,18,20,2...|[93.0814558680659...|[0.93081455868065...|       0.0|
|1000033| 24|      20s|administration|      divorced|high school|     no|    yes|  no|female|  $10k - $50k|    silver|    362|                3|        1|            3.0|             3.0|                 2.0|            1.0|          0.0|          0.0|       0.0|         0.0|          1.0|             1.0|    (7,[3],[1.0])|    (11,[3],[1.0])|             (2,[],[])|    (3,[1],[1.0])|  (1,[0],[1.0])|  (1,[0],[1.0])|(1,[0],[1.0])| (1,[0],[1.0])|  (4,[1],[1.0])|     (2,[1],[1.0])|(35,[3,10,21,23,2...|[7.55460661626979...|[0.07554606616269...|       1.0|
|1000034| 47|      40s|    technician|       married|   graduate|     no|    yes|  no|  male| $50k - $100k|      gold|      4|                0|        0|            2.0|             2.0|                 0.0|            0.0|          0.0|          0.0|       0.0|         1.0|          3.0|             2.0|    (7,[2],[1.0])|    (11,[2],[1.0])|         (2,[0],[1.0])|    (3,[0],[1.0])|  (1,[0],[1.0])|  (1,[0],[1.0])|(1,[0],[1.0])|     (1,[],[])|  (4,[3],[1.0])|         (2,[],[])|(35,[2,9,18,20,23...|[94.0563550770535...|[0.94056355077053...|       0.0|
|1000038| 37|      30s| manufacturing|        single|high school|     no|    yes|  no|  male|   Over $250k|  platinum|    146|                0|        0|            0.0|             1.0|                 1.0|            1.0|          0.0|          0.0|       0.0|         1.0|          0.0|             0.0|    (7,[0],[1.0])|    (11,[1],[1.0])|         (2,[1],[1.0])|    (3,[1],[1.0])|  (1,[0],[1.0])|  (1,[0],[1.0])|(1,[0],[1.0])|     (1,[],[])|  (4,[0],[1.0])|     (2,[0],[1.0])|(35,[0,8,19,21,23...|[92.9815767575618...|[0.92981576757561...|       0.0|
|1000041| 45|      40s|     executive|       married|   graduate|     no|    yes|  no|female|   Over $250k|  platinum|      9|                0|        0|            2.0|             9.0|                 0.0|            0.0|          0.0|          0.0|       0.0|         0.0|          0.0|             0.0|    (7,[2],[1.0])|    (11,[9],[1.0])|         (2,[0],[1.0])|    (3,[0],[1.0])|  (1,[0],[1.0])|  (1,[0],[1.0])|(1,[0],[1.0])| (1,[0],[1.0])|  (4,[0],[1.0])|     (2,[0],[1.0])|(35,[2,16,18,20,2...|[93.1806812417827...|[0.93180681241782...|       0.0|
|1000045| 54|      50s|administration|      divorced|   graduate|     no|    yes|  no|female|  $10k - $50k|    silver|    309|                3|        1|            1.0|             3.0|                 2.0|            0.0|          0.0|          0.0|       0.0|         0.0|          1.0|             1.0|    (7,[1],[1.0])|    (11,[3],[1.0])|             (2,[],[])|    (3,[0],[1.0])|  (1,[0],[1.0])|  (1,[0],[1.0])|(1,[0],[1.0])| (1,[0],[1.0])|  (4,[1],[1.0])|     (2,[1],[1.0])|(35,[1,10,20,23,2...|[5.06095571610833...|[0.05060955716108...|       1.0|
|1000050| 58|      50s|    technician|       married|   graduate|     no|     no|  no|  male|$100k - $250k|  platinum|    162|                1|        0|            1.0|             2.0|                 0.0|            0.0|          0.0|          1.0|       0.0|         1.0|          2.0|             0.0|    (7,[1],[1.0])|    (11,[2],[1.0])|         (2,[0],[1.0])|    (3,[0],[1.0])|  (1,[0],[1.0])|      (1,[],[])|(1,[0],[1.0])|     (1,[],[])|  (4,[2],[1.0])|     (2,[0],[1.0])|(35,[1,9,18,20,23...|[93.148930049316,...|[0.93148930049315...|       0.0|
|1000052| 41|      40s|    management|      divorced|high school|     no|     no|  no|  male|$100k - $250k|  platinum|     88|                9|        0|            2.0|             0.0|                 2.0|            1.0|          0.0|          1.0|       0.0|         1.0|          2.0|             0.0|    (7,[2],[1.0])|    (11,[0],[1.0])|             (2,[],[])|    (3,[1],[1.0])|  (1,[0],[1.0])|      (1,[],[])|(1,[0],[1.0])|     (1,[],[])|  (4,[2],[1.0])|     (2,[0],[1.0])|(35,[2,7,21,23,25...|[89.8827343836368...|[0.89882734383636...|       0.0|
|1000055| 47|      40s|    management|       married|   graduate|     no|    yes| yes|  male|  $10k - $50k|    silver|     49|                1|        0|            2.0|             0.0|                 0.0|            0.0|          0.0|          0.0|       1.0|         1.0|          1.0|             1.0|    (7,[2],[1.0])|    (11,[0],[1.0])|         (2,[0],[1.0])|    (3,[0],[1.0])|  (1,[0],[1.0])|  (1,[0],[1.0])|    (1,[],[])|     (1,[],[])|  (4,[1],[1.0])|     (2,[1],[1.0])|(35,[2,7,18,20,23...|[95.1373606029519...|[0.95137360602951...|       0.0|
|1000059| 44|      40s|    unemployed|        single|   graduate|     no|    yes|  no|female|  $10k - $50k|    silver|     24|                0|        0|            2.0|             4.0|                 1.0|            0.0|          0.0|          0.0|       0.0|         0.0|          1.0|             1.0|    (7,[2],[1.0])|    (11,[4],[1.0])|         (2,[1],[1.0])|    (3,[0],[1.0])|  (1,[0],[1.0])|  (1,[0],[1.0])|(1,[0],[1.0])| (1,[0],[1.0])|  (4,[1],[1.0])|     (2,[1],[1.0])|(35,[2,11,19,20,2...|[92.7835329557721...|[0.92783532955772...|       0.0|
|1000061| 30|      30s|    management|        single|high school|     no|     no|  no|female|$100k - $250k|  platinum|    109|                1|        0|            0.0|             0.0|                 1.0|            1.0|          0.0|          1.0|       0.0|         0.0|          2.0|             0.0|    (7,[0],[1.0])|    (11,[0],[1.0])|         (2,[1],[1.0])|    (3,[1],[1.0])|  (1,[0],[1.0])|      (1,[],[])|(1,[0],[1.0])| (1,[0],[1.0])|  (4,[2],[1.0])|     (2,[0],[1.0])|(35,[0,7,19,21,23...|[93.0000407639818...|[0.93000040763981...|       0.0|
+-------+---+---------+--------------+--------------+-----------+-------+-------+----+------+-------------+----------+-------+-----------------+---------+---------------+----------------+--------------------+---------------+-------------+-------------+----------+------------+-------------+----------------+-----------------+------------------+----------------------+-----------------+---------------+---------------+-------------+--------------+---------------+------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [96]:
predictions.select(["attrition", "prediction"]).show()

+---------+----------+
|attrition|prediction|
+---------+----------+
|        0|       0.0|
|        1|       0.0|
|        1|       1.0|
|        0|       0.0|
|        0|       0.0|
|        1|       1.0|
|        1|       1.0|
|        1|       1.0|
|        0|       0.0|
|        0|       0.0|
|        1|       1.0|
|        0|       0.0|
|        0|       0.0|
|        0|       0.0|
|        1|       1.0|
|        0|       0.0|
|        0|       0.0|
|        0|       0.0|
|        0|       0.0|
|        0|       0.0|
+---------+----------+
only showing top 20 rows

# Evaluate Model against Test Dataframe
Display model fit statistics, such as RMSE or MSE

In [ ]:
predictions.printSchema()

In [99]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# Create evaluators for AUC-ROC and AUC-PR
auc_roc_evaluator = BinaryClassificationEvaluator(labelCol="attrition", rawPredictionCol="rawPrediction", metricName="areaUnderROC")
auc_pr_evaluator = BinaryClassificationEvaluator(labelCol="attrition", rawPredictionCol="rawPrediction", metricName="areaUnderPR")

# Calculate the metrics using the evaluators
auc_roc = auc_roc_evaluator.evaluate(predictions)
auc_pr = auc_pr_evaluator.evaluate(predictions)

# Print the metrics
print("AUC-ROC: {:.4f}".format(auc_roc))
print("AUC-PR: {:.4f}".format(auc_pr))

AUC-ROC: 0.9032
AUC-PR: 0.8574

In [97]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Create evaluators for accuracy, precision, recall, and F1 score
accuracy_evaluator = MulticlassClassificationEvaluator(labelCol="attrition", predictionCol="prediction", metricName="accuracy")
precision_evaluator = MulticlassClassificationEvaluator(labelCol="attrition", predictionCol="prediction", metricName="weightedPrecision")
recall_evaluator = MulticlassClassificationEvaluator(labelCol="attrition", predictionCol="prediction", metricName="weightedRecall")
f1_evaluator = MulticlassClassificationEvaluator(labelCol="attrition", predictionCol="prediction", metricName="f1")

# Calculate the metrics using the evaluators
accuracy = accuracy_evaluator.evaluate(predictions)
precision = precision_evaluator.evaluate(predictions)
recall = recall_evaluator.evaluate(predictions)
f1_score = f1_evaluator.evaluate(predictions)

# Print the metrics
print("Accuracy: {:.4f}".format(accuracy))
print("Precision: {:.4f}".format(precision))
print("Recall: {:.4f}".format(recall))
print("F1 Score: {:.4f}".format(f1_score))

Accuracy: 0.9446
Precision: 0.9472
Recall: 0.9446
F1 Score: 0.9420

# Save the Model Object (Optional)
Write spark code that saves your model object.

Context: For production purposes, it's often requierd to save the model object so that it can be deployed as a stand-alone and compressed binary object. The model object is typically wrapped in a container and served as a REST or gRPC endpoint.

In [ ]:
# Save the trained model
model_path = "path/to/save/your/model"
model.save(model_path)